#myCanvas{
    border:1px solid black;
    background-color: white;
    display: block;
    margin: 0 auto;
}

body{
    background-color: grey;
}
label{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
   
}

.filtros{
    display: grid;
    height: 60%;
    float: left;
    left:9px;
    position: fixed;
    margin-top: 6vh;
}    
.herramientas{
  
        display: grid;
        height: 45%;
        right:9px;
        position: fixed;
        margin-top: 6vh;
        
      
}