@font-face {
    font-family: 'harryPotter';
    src: url('font/HARRYP__.TTF');
}
body{
    background:#010101;
}
section{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
section:before{
    content:'';
    position: absolute;
    bottom:0;
    width: 100%;
    height:100px;
    background:linear-gradient(to top,#010101,transparent);
    z-index:10000;
}
section:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:10000;
    mix-blend-mode: color;
}


section img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    pointer-events:none;
}
/*sinopsis*/
#sinopsis{
  font-family: 'harryPotter';
  color:#ffe22b;
  text-align: center;
  font-size: 36px;
}

/* galery images*/

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


.container{
    width: 20vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
    margin:auto;
    text-align:center;
    display: -webkit-inline-box;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .container2{
    width: 40vw;
    position: relative;
    top: 54vh;
    right:20vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: -webkit-inline-box;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    }
   
  .item{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    
    transition: all 300ms;
    
    position: relative;
  }
 
  
  .item::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  
  .item:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .item:hover {
    transform: scale(1.05);
    background: #ffe22b;
  }
  
  .item-text{
    padding: 1em;
  }
  
  
  .item-img{
    max-width: 40vh;
    display: inline-block;
  }
.item2{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    
    transition: all 300ms;
    
    position: relative;
  }
 
  
  .item2::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  
  .item2:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .item2:hover {
    transform: scale(1.05);
    background: #ffe22b;
  }
  
  .item2-text{
    padding: 1em;
  }
  
  
  .item2-img{
    max-width: 40vh;
    display: inline-block;
   
  }

/* countdown*/
  .cuentaReg {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: rgb(236, 199, 103);
    font-family:'harryPotter';
  }
  
  .cuentaRegresiva{
      background-color: #181717;
      width: 100%;
      height:23vh;
  }

  /* audio pagina*/
  audio{
      visibility: hidden;
  }
/* slider*/

button{
    font-size:30px;
    height: 70px;
    width:70px;
    line-height: 70px;
    border-radius: 50px;
    background-color: rgba(0,0,0,.7);
    text-align:center;
    font-weight: bolder;
    position: absolute;
    color:#ffe22b;
    font-family:'harryPotter';
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition: all .5s ease;
    outline:none;
  }
.button:hover{
    cursor: pointer;
    text-decoration: none;

}
.button:focus{
  border-radius:50%;
}
.atras{
    left:2%;
    top:50%;
    text-decoration: none;
}
.play{
    margin-left: -5vw;
    top: -13px;
}
.stop{
  margin-left:5vw;
  top: -13px;
}
.controles{
    position: relative;
    margin: auto;
    top:47vh;
    text-align: center;
}
.siguiente{
    right:2%;
    top:50%;
}
#carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top:58vh;
}
#imagen {
    width: 100%;
    height: 400px;
    border-radius:50px;
    border:5px solid darkgoldenrod;
    background-size: cover;
}
.titulo{
    position: relative;
    top: 55vh;
    text-align: center;
}

/* barra de navegacion*/
nav{
  background: #010101;
  height: 80px;
  width: 100%;
  font-family: 'harryPotter';
}
label.logo{
  color: #ffe22b;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #ffe22b;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #dbd18f;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #ffe22b;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #010101;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.seccion{
  background-size: cover;
  height: calc(10vh - 80px);
}
/* formulario de contacto*/
*:focus {
  outline: 0;
}

.wrapper {
  margin: 100px auto 0;
  width: 70%;
  max-width: 1000px;
  display: flex;
  position:relative;
  top:58vh;
  justify-content: center;
}

form {
  width: 100%;
  margin: 0;
}

form * {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: darkgoldenrod;
  width: 100%;
  height: 64px;
  transition: width 333ms ease-in-out;
  text-align: center;
  padding: 18px 0;
}

form .field input[type="text"],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  color: #313a3d;
}

form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 18px;
}
form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 166px;
}
form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
}
form input[type="submit"] {
  background: darkgoldenrod;
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  transition: all 0.3s ease-in-out;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: #dbd18f;  
}
