body{
    background-color:#d2cf76;
}

.canvas{
    position: relative;
    display: block;
    margin: 0 auto;
}

.header{
    margin-top: 3px;
}

.header-page{
    position: relative;
    top: 3vh;
}

.header-acciones{
    text-align: center;
}
h2{
    padding:15px;
}


.info{
    margin-bottom: 0px;
}

#info-ganador, #info-empate{
    width: 72%;
    position:relative;
    margin: auto;
   
}




.jugadorGanador{
    font-size: 72px;
    color:#e6293f;
    height:50%;
    text-align: center;
    bottom:90vh;
}
.empate{
    font-size: 72px;
    color:#e6293f;
    height:50%;
    text-align: center;
    margin-top: 5px; 
}

#tablero{
    cursor: pointer;
    margin-left: 5px;
}



.oculto {
    display: none;
}

.row-info{
    position: relative;
    top: 280px;
    z-index: 9;
}

.jugador{
    background-color:#e6293f;
    color:white;
    height: 12vh;
    position: relative;
    margin: auto;
}
.jugador.turno {
    color: #ecd008;
}